@tailwind base;
@tailwind components;
@tailwind utilities;


.h-eqw {
    aspect-ratio: 1/1;
    width: 100vw;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 5px;

}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bcbcbc;
}